<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267136824106-sn94pvb1uk6m05knb63mcv3bs7nj2ke1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267136824106-sn94pvb1uk6m05knb63mcv3bs7nj2ke1</string>
	<key>API_KEY</key>
	<string>AIzaSyD7Qt0AmIrKVIq0v_lzV5FyDsfR4PAx2Vs</string>
	<key>GCM_SENDER_ID</key>
	<string>267136824106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ansam.fireauth</string>
	<key>PROJECT_ID</key>
	<string>fireauth-8c86c</string>
	<key>STORAGE_BUCKET</key>
	<string>fireauth-8c86c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267136824106:ios:c69e4cb79545f27c6fe453</string>
</dict>
</plist>